# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension or as a self-invoking function.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two(4))

6

In [3]:
# Written as a Lambda function
# Self-invoking function - meaning it immediately calls itself
(lambda x: x + 3)(4)

7

#### Saving to a Variable

In [6]:
add_three = lambda x: x + 3

print(add_three)

<function <lambda> at 0x00000116EBB93550>

In [8]:
add_three(4)

7

#### Multiple Inputs

In [12]:
# Multiple inputs with no variables
(lambda x,y,z: x * y / z)(6, 4, 2)

12.0

In [14]:
# Multiple inputs with a variable attached
mult_test = lambda x, y, z: x * y / z
mult_test(8, 6, 4)

12.0

#### Passing a Lambda into a Function

In [27]:
def multiply(f, num):
    """
    f expects a function that accepts one argument
    num expects a number
    """
    print(f)
    num -= 50
    return f(num)

multiply(lambda x: (x + 5)/10 , 100)

<function <lambda> at 0x00000116EBB93790>

5.5

In [23]:
abs(-100)

100

In [30]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

#### Returning a Lambda from a Function

In [29]:
# Regularly defined Function
def multiply_test(num):
    return num * 4

my_return = multiply_test(5)
print(type(my_return))

<class 'int'>

In [39]:
# Function within a function
def parent_func(parent_name):
    def first_child(child_name):
        return f'I am {child_name}, a child of {parent_name}'
    return first_child

a_child = parent_func('Mike')

print(a_child)
a_child('Brian')

<function parent_func.<locals>.first_child at 0x00000116EBBB70D0>

'I am Brian, a child of Mike'

In [40]:
a_child('Julie')

'I am Julie, a child of Mike'

In [44]:
def return_lambda(b, c):
    return lambda a, d: a * b + c * d

my_func = return_lambda(5, 6)
my_func(2, 3)

28

#### If Statements within Lambdas

In [48]:
def some_condition(num):
    if num > 10:
        return num * 2
    else:
        return num + 2

# lambda *input*: *return when True* if *condition* else *return when false*
lambda_condition = lambda num: num * 2 if num > 10 else num + 2

lambda_condition(18)

36

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the argument passed in and assign the anonymous function to a variable 'f'.</p>

In [52]:
f = lambda num: num**3

f(10)

1000

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [63]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [67]:
def returns_double(num):
    return num * 2

my_list = [4, 7, 2, 5, 8, 3, 6, 2, 6, 2, 6, 5]
print(len(my_list))

list(map(returns_double, my_list))

12

[8, 14, 4, 10, 16, 6, 12, 4, 12, 4, 12, 10]

In [72]:
my_dict = {
    'a': 10,
    'b': 'Hello',
    'c': 20
}

def something(key):
    if isinstance(my_dict[key], int):
        return my_dict[key] ** 2
    else:
        return key

list(map(something, my_dict))

[100, 'b', 400]

In [87]:
my_list_iter = my_list.__iter__()

In [100]:
my_list_iter.__next__()

StopIteration:

In [110]:
list1 = [1, 2, 3, 4, 5]
list2 = [10,20,30]

def my_func(num1, num2):
    if num1 * num2 > 15:
        return 'Hello'
    else:
        return 'Goodbye'
    
    
list(map(my_func, list1, list2))

['Goodbye', 'Hello', 'Hello']

#### Using Lambda's with Map

In [114]:
my_list = [4, 7, 2, 5, 8, 3, 6, 2, 6, 2, 6, 5]
my_list

[4, 7, 2, 5, 8, 3, 6, 2, 6, 2, 6, 5]

In [115]:
list(map(lambda x: x**2/2, my_list))

[8.0, 24.5, 2.0, 12.5, 32.0, 4.5, 18.0, 2.0, 18.0, 2.0, 18.0, 12.5]

In [117]:
new_map = map(lambda x: x**2/2, my_list)

In [119]:
for i in new_map:
    print(i)

8.0
24.5
2.0
12.5
32.0
4.5
18.0
2.0
18.0
2.0
18.0
12.5

In [123]:
def do_something(x):
    return x**2/2
[(lambda a: a**2/2)(x) for x in my_list]

[8.0, 24.5, 2.0, 12.5, 32.0, 4.5, 18.0, 2.0, 18.0, 2.0, 18.0, 12.5]

In [121]:
list(map(do_something, my_list))

[8.0, 24.5, 2.0, 12.5, 32.0, 4.5, 18.0, 2.0, 18.0, 2.0, 18.0, 12.5]

In [124]:
list(map(lambda num1, num2: 'Hello' if num1 * num2 > 15 else 'Goodbye', list1, list2))

['Goodbye', 'Hello', 'Hello']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [126]:
a_list = [10, 35, 66, 3, 6, 34, 22, 13, 87]

# [19, 69, 131, 5, 11, 67, 43, 25, 173]
list(map(lambda a: a*2-1, a_list))

[19, 69, 131, 5, 11, 67, 43, 25, 173]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

#### Using Lambda's with Filter()

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

#### Writing a Factorial Function

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`